.showInfo{
    background-color: red;
    color: #fff;
    text-align: center;
    font-size: 30px;
    }

.bai-tap-2{
    margin: 120px 0;
}

.bai-tap-3{
    margin: 120px 0;
}

.bai-tap-4{
    margin: 120px 0;
}